
.bodyform{
    margin-left: 10px;
    padding-top: 30px;
}
.backimg h2{
    padding-left: 20px;
    color: blue;
}
.backimg h1{
    padding: 10px;
    text-align: center;
    color: blue;
}
.backimg p{
    margin: 15px !important;
    
}
.backimg img{
    width: 100%;
    height: 400px;
}
.formleft {
    padding-left: 100px;
}

.bodyform label{
    background-color: black;
    width: 100%;
    color: white;
    font-weight: 900;
    padding: 10px;
}

.btn-primary {
    width: 100%;
}